/*
  RESET
*/


body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 box-sizing: border-box;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
ul{
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 box-sizing: border-box;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}
a,
button{
  outline: none;
  border: none;
  font-size: 1em;  
}
a:hover, a:focus,
button:hover, button:focus{
  outline: none;
}

/*
  APP
*/
body {
  overflow: hidden;
}

body,
h1,
h2,
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.hidden{
  display: none !important; 
}

.video-wrap {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#E6E6E6 0%, #ffffff 100%);
}

.video-wrap .video-box {
  z-index: 100;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -225px 0 0 -225px;
  display: inline-block;
  width: 450px;
  min-height: 415px;
  padding-bottom: 78px;
  background: linear-gradient(#00c5ff 0%, #0091fe 100%);
  border-radius: 4px;
  box-shadow: 0px 25px 25px 16px rgba(0,0,0,0.1);
  transition: all 1s;   
}

.video-wrap .video-box .video{
  z-index: 2;
  position: relative;
  width: 100%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
  
.video-wrap .video-box .video video{
  width: 100%;  
}

.video-wrap .video-box.top-vid{
  z-index: 200;
  margin-top: -180px !important;
  transition: all 1s;

}

.video-wrap.twoVideo .video-box:first-child{
  margin: -225px 0 0 -415px;
}

.video-wrap.twoVideo .video-box:last-child{
  margin: -225px 0 0 -35px;
}

.video-wrap.oneVideo .video-box.remoteVideo {
  opacity: 0;
  top:0;
  transition: all 1s;
}


.video-wrap .video-box.remoteVideo {
  background: linear-gradient(#734ac5 0%, #523195 100%);
}

.video-wrap.twoVideo .video-box.remoteVideo {
  opacity: 1;
  top:50%;
  transition: all 1s;
}



.video-wrap .video-box:after{
  z-index: 1;
  display: block;
  content: "\e8da" ;
  position: absolute;
  top:50%;
  left: 50%;   
  margin: -65px 0 0 -30px;
  font-size: 60px;
  color: #fff;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  animation: spin 2s infinite linear;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video-wrap .video-box .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(#ffffff 0%, #E6E6E6 100%); 
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.video-wrap .video-box .footer .visualizer {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
	background-position: 0px 0px;
	background-repeat: repeat-x;
} 

.video-wrap .video-box .footer .visualizer.vslzr-gif {
	background-image: url(../images/visualizer-gif.gif);
	background-position: center bottom;
  z-index: 1;  
}

.video-wrap .video-box .footer .visualizer.vslzr-01 {
	background-image: url(../images/visualizer-layer-01.png);
  animation: animatedBackground 19s linear infinite;
  z-index: 3;
}

.video-wrap .video-box .footer .visualizer.vslzr-02 {
	background-image: url(../images/visualizer-layer-02.png);
  animation: animatedBackground 32s linear infinite;
  z-index: 2;
}

.video-wrap .video-box .footer .visualizer.vslzr-03 {
	background-image: url(../images/visualizer-layer-03.png);
  z-index: 1;
  animation: animatedBackground 40s reverse linear infinite;
}

.video-wrap .video-box .footer .visualizer.vslzr-mask {
  z-index: 4;
	background-image: url(../images/visualizer-mask.png);
	background-size: 100% 100%;
}

.call-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background: linear-gradient(#00c5ff 0%, #0091fe 100%);  
}

.call-btn  i {
  line-height: 1;
  font-size: 20px;
  color: #fff;
}


/*
  Animation
*/

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}